<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src="https://unpkg.com/vue@3.0.2"></script>
</head>
<body>
    
    <div id="app">
        <h1>Title is: {{title}}</h1>
        <h2>Author is: {{author}} Age is: {{age}}</h1>  
        <!-- note curly braces is only need when outputing value -->
        <button v-on:click="age++">Increase Age</button>
        <button @click="age++">Increase Age Different Method</button>
        <button v-on:click="age--">Decrease Age</button>
        <button @click="title = 'ong bak' ">Change Title</button>
        <button @click="resetTitle">Reset Title</button>
        <br></br>
        <input type="text" v-model="inputValue" placeholder="Insert New Title">
        <button @click="changeTitleThroughParam(inputValue)">Change Title</button>
        <br></br>
        <!-- you can also do it like this <div v-if="5 > 10"> -->
        <div v-if="condition">
            <p>Condition True</p>
        </div>
        <div v-else>
            <p>Condition False</p>
        </div>
        <br></br>
        <ul v-if="condition">
            <h1>Books</h1>
            <li v-for="book in books">
                <h3>{{book.title}}</h3>
                <p>{{book.author}}</p>
                <p>Is Favorite: {{book.isFave}}</p>
            </li>
        </ul>        
        <br></br>
        <ul v-if="condition">
            <h1>Filtered Books</h1>
            <!-- <h2>{{filteredBooks}}</h2> -->
            <li v-for="book in filteredBooks">
                <h3>{{book.title}}</h3>
                <p>{{book.author}}</p>
                <p>Is Favorite: {{book.isFave}}</p>
            </li>
        </ul>        
    </div>

</body>
</html>

<script src='app.js'></script>
